<!-- index.html -->
<!DOCTYPE html>
<html ng-app="printspotApp">
	<head>
		<base href="/">
		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/public/assets/stylesheets/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

		<!-- JAVASCRIPT -->
		<script>
			var root_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
			var api_url = window.location.protocol + '//' + window.location.hostname + ':1337';
		</script>
		<script src="http://localhost:1337/socket.io/socket.io.js"></script>
		<script src="/public/assets/javascripts/main.js"></script>
		<script src="/public/assets/javascripts/angular.js"></script>
		
	</head>
	<body>
	
		<div class="wrapper">
			<!-- NOTIFICATIONS -->
			<growl-notifications></growl-notifications>
			
			<!-- HEADER AND NAVBAR -->
			<header class="banner layout" id="banner" role="banner">
				<nav class="nav layout__item  6/6" role="main navigation">
			
					<a class="logo logo--inline" href="/" rel="index home">
						<svg width="32" height="32" viewBox="0 0 128 128" rel="logo">
						<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="64" y1="127.8776" x2="64" y2="0.1224">
							<stop offset="0" style="stop-color:#2192D2"></stop>
							<stop offset="1" style="stop-color:#5FC6F3"></stop>
						</linearGradient>
						<path style="fill:none;stroke:url(#SVGID_1_);stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
							M102.202,59.171c0,0-8.327-11.914-17.334-24.799C74.244,19.174,62.67,2.622,62.67,2.622L33.505,25.107L17.716,91.418l20.031,33.867
							l46.678,0.092c0,0,9.292-9.086,16.739-16.37c4.965-4.856,9.12-8.922,9.12-8.922L102.202,59.171z M62.67,2.622l22.198,31.75
							L77.732,54.84l-23.434,5.772L62.67,2.622z M60.823,74.021l11.906,3.725L63.038,90.75l-9.523-9.059L60.823,74.021z M53.514,81.691
							l-14.556-3.105l15.34-17.974l6.525,13.409L53.514,81.691z M60.823,74.021l-6.525-13.409l23.434-5.772l8.818,30.911l-13.821-8.004
							c-0.092-0.057,0.123,0.039,0,0L60.823,74.021z M33.505,25.107L62.67,2.622l-8.372,57.99l-15.34,17.974L17.716,91.418L33.505,25.107z
							M17.716,91.418l21.242-12.832l14.556,3.105l9.523,9.059l-1.86,18.547l-23.43,15.988L17.716,91.418z M37.747,125.285l23.43-15.988
							l23.248,16.08L37.747,125.285z M84.425,125.378l-23.248-16.08l1.86-18.547l9.691-13.004c0,0,7.225,4.184,13.821,8.004
							c5.524,3.199,10.61,6.146,10.61,6.146l4.005,17.11L84.425,125.378z M97.159,91.897L97.159,91.897l-10.61-6.146L77.732,54.84
							l7.136-20.469l17.334,24.799l8.082,40.922l-9.12,8.915L97.159,91.897z"></path>
						</svg>
			
						<h1>Formide</h1>
					</a>
					<a href="/" class="" title="Search trough our app store and start creating">
			            Dashboard
			        </a>
					<a href="/apps" class="" title="Manage printers, slicing and materials">
						Apps
					</a>
					<a href="/printjobs" class="" title="Contribute to the Community">
						Printjobs
					</a>
					<a href="/files" class="" title="Contribute to the Community">
						Files
					</a>
					<a href="/settings" class="" title="Contribute to the Community">
						Settings
					</a>
				</nav>
			</header>
	
			<!-- MAIN CONTENT AND INJECTED VIEWS -->
			<main role="main">
	
				<!-- angular templating -->
				<!-- this is where content will be injected -->
				
				<div ng-view></div>
	
			</div>
		</div>
		
	</body>
</html>