<div ng-controller="PrintjobController">
	<div class="layout">
		<div class="layout__item 1/2">
			<h2>Printjobs</h2>
		</div><!--
		--><div class="layout__item 1/2 align-right">
			<a class="btn" href="/files">Add</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Model</th>
				<th>Est. printtime</th>
				<th>Sliceprofile</th>
				<th>Material</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="printjob in printjobs">
				<td>{{ printjob.modelfile.name }}</td>
				<td>{{ printjob.duration_estimate }}</td>
				<td><a href="/slicing?active={{ printjob.sliceprofileID }}">{{ printjob.sliceprofile.name }}</a></td>
				<td><a href="/materials?active={{ printjob.materialID }}">{{ printjob.material.type }}</a></td>
				<td>{{ printjob.status }}</td>
				<td><a ng-click="deletePrintjob(printjob.id)">Remove</a></td>
			</tr>
		</tbody>
	</table>
</div>