# Editors
.idea

# Dependencies
node_modules
bower_components

# Environment
.env

# Log files
KatanaLog.txt
RequestsLog.txt
logs
npm-debug.log

# Caching
.ssh
.grunt
.lock-wscript
.sass-cache
.sass-cache/*
*.scssc
