<li class="slicing">
	<a href="#"  ng-click="selectAside('slice')"><i class="icon slicing"></i> Slicing</a>

	<div class="slicing-content slide" ng-show="selection == 'slice'">
		<h3>Quick Printing</h3>

		<div class="radio" ng-repeat="sliceprofile in sliceprofiles">
		  	<label>
		    	<input type="radio" name="sliceprofileSelect" ng-model="selections.selectedSliceprofile" ng-value="sliceprofile">{{ sliceprofile.name }}
			</label>
		</div>

        <!--
<div class="radio">
		  	<label>
		    	<input type="radio" name="sliceprofileSelect">
				<select class="form-control form-control-slicing"></select>
			</label>
		</div>
-->

        <hr />

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="interfaceSettings.support"> Support
			</label>
		</div>

		<hr />

        <h3>Slicing</h3>
		<div class="radio">
		  	<label><input type="radio" name="optionsRadios2" ng-model="selections.selectedSlicemethod" value="cloud"> Online (quickest)</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optionsRadios2" ng-model="selections.selectedSlicemethod" value="local" checked> Offline (super secure)</label>
		</div>

		<div class="form-inline">
			<button class="btn btn-more" id="slicing-more" ng-if="selections.selectedSliceprofile.name" ng-click="selectAside('slicing-more')">Edit</button>
			<button class="btn btn-more" id="slicing-more" ng-click="selectAside('slicing-more')">New</button>
			<button type="submit" class="btn btn-print" ng-if="selections.selectedSliceprofile.name && selections.selectedModelfile.filename" ng-click="slice()">Print</button>
		</div>
	</div>

	<div class="slicing-content-more" ng-show="selection == 'slicing-more'">
		<div class="col-sm-6">
			<h3>Channel A</h3>
			<div class="color-bar" style="background-color: {{ printerStatus.extrudera.colorString }}"></div>

			<h3>{{ interfaceSettings.extruders.a.mode }}</h3>
			<p class="support-line">A: {{ printerStatus.extrudera.material.name }} / {{ printerStatus.extrudera.percentage }}% left</p>
			
			<hr />
			
			<div ng-if="interfaceSettings.extruders.a.mode == 'build'" ng-include src=" '/public/partials/slicesettings_build.html' "></div>
			<div ng-if="interfaceSettings.extruders.a.mode == 'support'" ng-include src=" '/public/partials/slicesettings_support.html' "></div>
		</div>
		<div class="col-sm-6">
			<h3>Channel B</h3>
			<div class="color-bar" style="background-color: {{ printerStatus.extruderb.colorString }}"></div>

			<h3>{{ interfaceSettings.extruders.b.mode }}</h3>
			<p class="support-line">B: {{ printerStatus.extruderb.material.name }} / {{ printerStatus.extruderb.percentage }}% left</p>
			
			<hr />
			
			<div ng-if="interfaceSettings.extruders.b.mode == 'build'" ng-include src=" '/public/partials/slicesettings_build.html' "></div>
			<div ng-if="interfaceSettings.extruders.b.mode == 'support'" ng-include src=" '/public/partials/slicesettings_support.html' "></div>
		</div>

		<div class="col-sm-12">
			<hr />

			<div class="form-inline">
				<button class="btn btn-more" ng-click="selectAside('slice')">Cancel</button>
				<button class="btn btn-more" ng-click="switchChannels()">Switch extruders</button>
				<button class="btn btn-more" ng-click="saveselections.selectedSliceprofile()">Save</button>
				<button type="submit" class="btn btn-print" ng-if="selections.selectedSliceprofile.name && selections.selectedModelfile.filename" ng-click="slice()">Print</button>
			</div>
		</div>
	</div>


</li>
