<div class="radio">
	<label>
		<input type="checkbox" ng-model="selections.selectedSliceprofile.settings.support.supportPlatform">
		Support on Platform
	</label>
</div>
<div class="radio">
	<label>
		<input type="checkbox" ng-model="selections.selectedSliceprofile.settings.support.supportModel">
		Support on Model
	</label>
</div>
<div class="form-group form-inline">
	<label>Overhang threshold</label>
	<input type="text" ng-model="selections.selectedSliceprofile.settings.support.angle" class="form-control input-control-deg"/>
</div>