<footer class="bottom col-sm-10">
    <div class="tooltip-bottom tooltip-signout fadein" ng-show="bottomTooltip == 'signout'">
        <a href="/logout">Logout</a>
        <!-- <a class="active">Account</a> -->
    </div>

    <div class="tooltip-bottom tooltip-dashboard fadein" ng-show="bottomTooltip == 'dashboard'">
        <a ng-class="{'active' : contentModule == 'printerPreview'}" ng-click="selectContentModule('printerPreview')">Viewer</a>
        <a ng-class="{'active' : contentModule == 'printerSettings'}" ng-click="selectContentModule('printerSettings')">Control Panel</a>
    </div>

    <a ng-click="selectBottomTooltip('dashboard')" class="btn-dashboard"></a>
    <a ng-click="selectBottomTooltip('signout')" class="btn-signout"></a>
</footer>