<li class="control" ng-controller="NectarController">
	<a href="#" ng-click="selectAside('control')"><i class="icon control"></i> Control</a>

	<div class="control-content slide" ng-show="selection == 'control'">
		<h3>Nectar One Control</h3>

		<hr />

		<center class="control-btns">
			<div>
				<a ng-click="controlPrinter.pause()" class="btn-pause"></a>
			</div>
			<div>
				<a ng-click="controlPrinter.stop()" class="btn-stop"></a>
			</div>
			<div>
				<a ng-click="controlPrinter.start()" class="btn-start"></a>
			</div>
		</center>

		<hr />

		<div class="controls clearfix">
			<div class="control-xy">
    			<div>
    				<a ng-click="controlPrinter.home()" class="home-xy"><img src="/public/assets/images/controls/home.png" alt="" /></a>
    				<a ng-click="controlPrinter.move('x', movementVal, 'mm')" class="left-x"><img src="/public/assets/images/controls/x_left.png" alt="" /></a>
    				<a ng-click="controlPrinter.move('x', movementVal*-1, 'mm')" class="right-x"><img src="/public/assets/images/controls/x_right.png" alt="" /></a>
    				<a ng-click="controlPrinter.move('y', movementVal, 'mm')" class="up-y"><img src="/public/assets/images/controls/y_up.png" alt="" /></a>
    				<a ng-click="controlPrinter.move('y', movementVal*-1, 'mm')" class="down-y"><img src="/public/assets/images/controls/y_down.png" alt="" /></a>
    			</div>
			</div>

			<div class="control-z">
    			<div>
    				<!-- <a ng-click="controlPrinter.home()" class="home-z"><img src="/public/assets/images/controls/home.png" alt="" /></a> -->
    				<a ng-click="controlPrinter.move('z', movementVal, 'mm')" class="up-z"><img src="/public/assets/images/controls/z_up.png" alt="" /></a>
    				<a ng-click="controlPrinter.move('z', movementVal*-1, 'mm')" class="down-z"><img src="/public/assets/images/controls/z_down.png" alt="" /></a>
    			</div>
			</div>
		</div>

		<hr />

		<div class="form-inline control-form-inline">
			<div class="radio radio--red">
			  <label>
			    <input type="radio" value="1" ng-model="movementVal">
			    1
			  </label>
			</div>
			<div class="radio radio--red">
			  <label>
			    <input type="radio" value="10" ng-model="movementVal">
			    10
			  </label>
			</div>
			<div class="radio radio--red">
			  <label>
			    <input type="radio" value="100" ng-model="movementVal">
			    100
			  </label>
			</div>
		</div>

		<hr />

		<div class="form-group form-inline">
			<button class="btn btn-extret" ng-click="controlPrinter.extrude(extrudeVal, 0)">Extrude</button>
			<input type="text" class="form-control input-control-mm" value="5" ng-model="extrudeVal"/>
		</div>

		<div class="form-group form-inline">
			<button class="btn btn-extret" ng-click="controlPrinter.retract(retractVal, 0)">Retract</button>
			<input type="text" class="form-control input-control-mm" value="5" ng-model="retractVal"/>
		</div>

		<button class="btn btn-more" id="control-more" ng-click="selectAside('control-replace')">Filament Settings</button>
		</div>

	<div class="control-content-replace slide" ng-show="selection == 'control-replace'">
		<h3>Replace Filament</h3>

		<h3>Filament Channel</h3>
		<p>A: {{ activePrinterStatus.filamenta.material.name }} ({{ activePrinterStatus.filamenta.percentage }}% left)</p>
		<p>B: {{ activePrinterStatus.filamentb.material.name }} ({{ activePrinterStatus.filamentb.percentage }}% left)</p>

		<button class="btn btn-more">Check Filament</button>
		<br /><br />
		<button class="btn  btn-more" ng-click="selectAside('control-manual')">Manual selection</button>
		<br />
		<p>Replace Filament:</p>
		<button class="btn  btn-more" ng-click="removeFilament()">Unload Filament</button>
		<br />
		<p>Your Filament is Running Low</p>
		<button class="btn  btn-print">Get New Filament</button>

		<hr />

		<div class="form-inline">
			<button class="btn btn-more" id="control-back" ng-click="selectAside('control')">Back</button>
			<button class="btn btn-more">Help</button>
		</div>

		<br />
	</div>
	<div class="control-content-manual slide" ng-show="selection == 'control-manual'">
		<strong>Manual Selection</strong>

        <div class="form-group">
            <label for="selectFile">Filament channel:</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="radio radio--red">
                        <label>
                            <input type="radio" value="a" ng-model="controlPrinter.movementVal" checked>
                            A
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="radio radio--red">
                        <label>
                            <input type="radio" value="b" ng-model="controlPrinter.movementVal">
                            B
                        </label>
                    </div>
                </div>
            </div>
        </div>

		<div class="form-group">
			<label for="selectFile">Material:</label>
			<select class="form-control" id="selectMaterial">
			    <option ng-repeat="material in materials" value="{{ material.id }}">{{ material.name }}</option>
			</select>
		</div>

        <div class="form-group">
            <label for="selectFile">Material color:</label>
            <select class="form-control" id="selectMaterial">
                <option ng-repeat="material in materials" value="{{ material.id }}">{{ material.name }}</option>
            </select>
        </div>

		<strong>Set Standard Values: </strong>

		<div class="form-group form-inline">
			<label class="input-text-mm">Layer Height</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Infill</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Outline</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Brim / Skirt</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Print Speed</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Bed Temp</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<div class="form-group form-inline">
			<label class="input-text-mm">Extruder Temp</label>
			<input type="text" class="form-control input-control-mm" value="5" />
		</div>

		<hr />

		<div class="form-inline">
			<button class="btn btn-more" id="slicing-back" ng-click="selectAside('control')">Back</button>
			<button class="btn btn-more" id="slicing-back">Help</button>
			<button type="submit" class="btn btn-control" title="Select">Save</button>
		</div>
	</div>
</li>
