<div ng-controller="NectarController">
	<div ng-repeat="(id, notification) in notifications track by id">
        <growl-notification class="fading" ttl="2000">
            {{notification}}
        </growl-notification>
    </div>
    
    <aside class="col-sm-2 main-aside">
    	<ul>
	    	<div ng-include src=" '/public/partials/upload.html' "></div>
	    	<div ng-include src=" '/public/partials/slice.html' "></div>
	    	<div ng-include src=" '/public/partials/control.html' "></div>
    	</ul>
	</aside>
	
	<div class="col-sm-10 main-content">
		<div ng-include src=" '/public/partials/selected.html' "></div>
		
		<div ng-show="contentModule == 'printerSettings'" class="fadein">
			<div ng-include src=" '/public/partials/settings.html' "></div>
		</div>
		
		<div ng-show="contentModule == 'printerPreview'" class="fadein">
			<div ng-include src=" '/public/partials/preview.html' "></div>
		</div>
		
		<div ng-include src="' /public/partials/bottom.html' "></div>
	</div>
</div>