<div>
    <div class="col-sm-12">
        <strong>Control Panel</strong>

        <hr />

        <div class="col-sm-6">
            <div>
                <p>Get New Filament <br />
                    <a href="">/ Order Now</a>
                </p>
            </div>

            <div>
                <p>Back To Factory Settings <br />
                    <a href="">/ Click Here</a>
                </p>
            </div>

            <div>
                <p>Edit Printer <br />
                    <a href="">/ Click Here</a>
                </p>
            </div>

            <div>
                <p>Which Filament Is Installed <br />
                    <a href="">/ Show</a>
                </p>
            </div>

            <div>
                <p>Remove Filament From Selection Menu <br />
                    <a href="">/ Click Here</a>
                </p>
            </div>
        </div><!--

     --><div class="col-sm-6">
            <strong>Support Channels</strong>
            <br />
            <br />
            <ul class="support-channels">
                <li><a>Video Guides</a></li>
                <li><a>Frequently Asked Questions</a></li>
                <li><a>Get Help From Our Support Form</a></li>
                <li><a>Get Direct Help From Our Contact</a></li>
            </ul>
            <hr />
        </div>
    </div>
</div>
