<ul class="main-list col-sm-10">
	<li class="clearfix">
		<div class="col-sm-4 name" ng-click="selectedPrinter=!selectedPrinter">
			<strong class="printer-name" ng-model="selectedPrinter"><i class="icon printer"></i> {{ activePrinter.name }}</strong>

			<div class="printer-content slide" ng-show="selectedPrinter" ng-click="$event.stopPropagation();">
				<div class="nectar-one clearfix">
					<span class="material-a">{{ activePrinterStatus.filamenta.material.name }}</span>
					<span class="material-b">{{ activePrinterStatus.filamentb.material.name }}</span>

					<span class="nozzle-temp-a" ng-class="{'red' : activePrinterStatus.etemp != activePrinterStatus.tetemp}">{{ activePrinterStatus.etemp }} &deg;C <span class="final-temp">({{ activePrinterStatus.tetemp }} &deg;C)</span></span>
					<span class="nozzle-temp-b" ng-class="{'red' : activePrinterStatus.e1temp != activePrinterStatus.te1temp}">{{ activePrinterStatus.e1temp }} &deg;C <span class="final-temp">({{ activePrinterStatus.te1temp }} &deg;C)</span></span>

					<span class="bed-temp" ng-class="{'red' : activePrinterStatus.btemp != activePrinterStatus.tbtemp}">{{ activePrinterStatus.btemp }} &deg;C <span class="final-temp">({{ activePrinterStatus.tbtemp }} &deg;C)</span></span>

                    <span class="fill-a" style="height: {{ activePrinterStatus.filamenta.statusHeight }}px; background-color: {{ activePrinterStatus.filamenta.colorString }};"></span>
                    <span class="fill-b" style="height: {{ activePrinterStatus.filamentb.statusHeight }}px; background-color: {{ activePrinterStatus.filamentb.colorString }};"></span>
				</div>

				<hr />

				<p>Status: {{ activePrinterStatus.status }}</p>

                <p ng-if="activePrinterStatus.filamenta.statusHeight < 5">Channel A is running low!</p>
                <p ng-if="activePrinterStatus.filamentb.statusHeight < 5">Channel B is running low!</p>

				<strong class="selector">Printer Queue</strong>

				<ul href="" class="printer-queue">
					<li ng-repeat="queueitem in activePrinterQueue" class="selector"><span>{{ queueitem.modelfile.filename }} <span class="duration"> / {{ queueitem.duration_estimate }}s</span></span></li>
				</ul>
			</div>
		</div>

		{{ include _task.blade.php }}

	</li>
</ul>
