input[type="radio"] {
    visibility: hidden;
}
label input[type="radio"]:after  {
	visibility: visible;
	content: '';
    display:inline-block;
    width:10px;
    height:10px;
    margin: 0 4px 0 0;
    margin-top: -10px;
    vertical-align:middle;
    background:url("../images/check_radio_sheet.png") left top no-repeat;
    cursor:pointer;
}
label input[type="radio"]:checked:after {
    background:url("../images/check_radio_sheet.png") -10px top no-repeat;
}

input[type="checkbox"] {
    visibility: hidden;
}
label input[type="checkbox"]:after  {
	visibility: visible;
	content: '';
    display:inline-block;
    width:10px;
    height:10px;
    margin: 0 4px 0 0;
    margin-top: -10px;
    vertical-align:middle;
    background:url("../images/check_radio_sheet.png") left top no-repeat;
    cursor:pointer;
}
label input[type="checkbox"]:checked:after {
    background:url("../images/check_radio_sheet.png") -10px top no-repeat;
}

.radio--red {
    label input[type="radio"]:after  {
        background:url("../images/check_radio_sheet_red.png") left top no-repeat;
    }
    label input[type="radio"]:checked:after {
        background:url("../images/check_radio_sheet_red.png") -10px top no-repeat;
    }
}
