.controls {
	margin-bottom: 1em;
}

.control-xy {
	display: inline-block;
	margin-left: 0px;
	div {
		width: 114px;
		height: 114px;

		position: relative;

		a {
			position: absolute;
			&:hover {
				opacity: .75;
			}
		}
		.home-xy {
			left: 33px;
			right: 33px;
			top: 36px;
			border: 35px;
			cursor: pointer;
		}
		.left-x {
			top: 42px;
			bottom: 43px;
			left: 0;
			cursor: pointer;
		}
		.right-x {
			top: 42px;
			bottom: 43px;
			right: 0;
			cursor: pointer;
		}
		.up-y {
			left: 46px;
			right: 46px;
			top: 0;
			cursor: pointer;
		}
		.down-y {
			left: 46px;
			right: 46px;
			bottom: -4px;
			cursor: pointer;
		}
		margin: 0;
		padding: 0;
		margin-right: 8px !important;
	}
}

.control-z {
	display: inline-block;
	border-left: 1px dashed $light-gray;
	margin-right: -16px;
	div {
		width: 48px;
		height: 90px;

		position: relative;

		a {
			position: absolute;
			&:hover {
				opacity: .75;
			}
		}
		.home-z {
			left: 0;
			right: 0;
			top: 36px;
			border: 35px;
			cursor: pointer;
		}
		.up-z {
			left: 13px;
			right: 13px;
			top: 0;
			cursor: pointer;
		}
		.down-z {
			left: 13px;
			right: 13px;
			bottom: 20px;
			cursor: pointer;
		}
		margin: 0;
		padding: 0;
		margin-left: 8px !important;
	}
}

.control-form-inline {
	text-align: center;
	.radio {
		border-right: 1px solid $light-gray;
		margin-left: 8px;
		padding-right: 8px;
		&:last-child {
			border: 0;
		}
	}
}

.progress-box {
	width: 100%;
	margin: 20px 0;
}

.progress-box .percentage-cur .num {
	margin-right: 5px;
}

.progress-box .progress-bar {
	width: 100%;
	height: 1px;
	background: #b4b4b4;
	margin-bottom: 3px;
	margin-top: 3px;
	position: relative;
}

.progress-box .progress-bar .inner {
  position: relative;
	width: 0;
	height:100%;
	background: black;
}

.progress-bar .inner {
	height: 0;
	width: 0;
	transition: all 1s ease-out;
}

.progress-bar-slider .inner {
  transition: none;
}

.progress-bar-slider .inner:after {
  content: " ";
  width: 8px;
  height: 8px;;
  background-color:#ffd56f;
  position: absolute;
  right: -2px;
  top: -3px;
  border: 1px solid #dead38;
  border-radius: 4px;
  margin: 0px;
}

.progress-slider {
  opacity: 0;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
}

.control-btns {
	margin: 16px 0;
}
