@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo/entypo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/entypo/entypo.woff') format('woff'), /* Modern Browsers */
       url('../fonts/entypo/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/entypo/entypo.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.icon {
	width: 18px;
	height: 16px;
	display: inline-block;

	.account {
		background-image: url('../images/icons/account.png');
	}
}

i.icon {
	display: inline-block;
	background-image: url('../images/icons/icon_sprite_32.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-right: 18px;
	vertical-align: middle;

	&:after {
		content: '';
		border-right: 1px solid $light-gray;
		margin-left: 28px;
		display: block;
		width: 1px;
		height: 16px;

	}

	&.upload {
		background-position-x: -48px;
	}

	&.slicing {
		background-position-x: -72px;
	}

	&.control {
		background-position-x: -96px;
	}

	&.printer {
		background-position-x: -142px;
	}

	&.tasks {
		background-position-x: -120px;
	}
}

i.icon-font {
/*	width: 16px;
	height: 16px;*/
	font-size: 2em;
	line-height: 0;
	vertical-align: middle;
	text-align: center;
	/* display: inline-block; */
	margin: 0;
	font-family: 'entypo', sans-serif;
}

.control-btns {
    div {
        display: inline-block;
        border-left: 1px solid #dbdada;
        &:last-child {
            border-right: 1px solid #dbdada;
        }
    }
}

.btn-pause {
    display: inline-block;
    background-image: url('../images/icons/control_btns.png');
    background-repeat: no-repeat;
    background-size: 39px 26px;
    vertical-align: middle;
    height: 13px;
    width: 13px;
    background-position: 0 -13px;
    background-clip: content-box;
    margin: 0 14px;
    &:hover {
        background-position: 0 0;
    }
}

.btn-stop {
    display: inline-block;
    background-image: url('../images/icons/control_btns.png');
    background-repeat: no-repeat;
    background-size: 39px 26px;
    vertical-align: middle;
    height: 13px;
    width: 13px;
    background-position: -13px -13px;
    background-clip: content-box;
    margin: 0 14px;
    &:hover {
        background-position: -13px 0;
    }
}

.btn-start {
    display: inline-block;
    background-image: url('../images/icons/control_btns.png');
    background-repeat: no-repeat;
    background-size: 39px 26px;
    vertical-align: middle;
    height: 13px;
    width: 13px;
    background-position: -26px -13px;
    background-clip: content-box;
    margin: 0 14px;
    &:hover {
        background-position: -26px 0;
    }
}

.upload-icon {
    display: inline-block;
    background-image: url('../images/upload_icons.png');
    background-repeat: no-repeat;
    background-size: 32px 16px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background-position: 0 0;
    background-clip: content-box;
    margin: 0;
}


.select-icon {
    display: inline-block;
    background-image: url('../images/upload_icons.png');
    background-repeat: no-repeat;
    background-size: 32px 16px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    background-position: -16px 0;
    background-clip: content-box;
    margin: 0;
}

.btn-signout {
    display: inline-block;
    background-image: url('../images/user-icon.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 17px;
    width: 16px;
    margin: 0;
    margin-top: 10px;
}

.btn-dashboard {
    display: inline-block;
    background-image: url('../images/settings_icon.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 17px;
    width: 18px;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.bottom {
    text-align: right;
    padding-right: 40px;
}
