<section class="banner--secondary">
	<nav class="sub-nav layout__item  1/1" role="navigation" aria-label="breadcrumbs">
		<p>
			<a class="sub-nav__item" href="/materials">
				Materials
		    </a>
		    <a class="sub-nav__item" href="/slicing">
		        Slicing
		    </a>
		    <a class="sub-nav__item tabs__item--active" href="/settings">
		        Account
		    </a>
		</p>
	</nav>
</section>

<section ng-controller="SettingsController" ng-init="init()">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">User settings</div>
					<div class="panel-body">
						<form role="form">
							<div class="form-group">
								<label>Username</label>
								<input type="text" class="form-control" ng-model="" value="UserName">
							</div>
							<div class="form-group">
								<label>Old password</label>
								<input type="text" class="form-control" ng-model="">
							</div>
							<div class="form-group">
								<label>New password</label>
								<input type="text" class="form-control" ng-model="">
							</div>
							<div class="form-group">
								<a class="btn btn-sm btn-primary" ng-click="saveUserSettings()">Save</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">Network settings</div>
					<div class="panel-body">
						<form role="form">
							<div class="form-group">
								<label>Online slicing</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Offline slicing</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Online control</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Offline control</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Log user statistic (anonymous)</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Send log to manufacturer (anonymous)</label>
								<input type="checkbox" checked=""/>
							</div>
							<div class="form-group">
								<label>Access token (needed for online slicing)</label>
								<input type="text" class="form-control" ng-model="settings.access_token">
							</div>
							<div class="form-group">
								<a class="btn btn-sm btn-primary" ng-click="saveNetworkSettings()">Save</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">Device information</div>
					<div class="panel-body">
						<form role="form">
							<div class="form-group">
								<label>Mac Address</label>
								<input type="text" class="form-control" value="3D:3D:3D:3D:3D:3D" disabled="">
							</div>
							<div class="form-group">
								<label>Software version number</label>
								<input type="text" class="form-control" value="0.2.1" disabled="">
							</div>
							<div class="form-group">
								<label>Software version name</label>
								<input type="text" class="form-control" value="pre-release" disabled="">
							</div>
							<div class="form-group">
								<label>Software brand</label>
								<input type="text" class="form-control" value="Printr" disabled="">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>