<section class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">	
			<div class="login-window">
				<div class="login-header">
					<i class="icon user"></i>
					<strong>Sign in</strong>
				</div>
				<div class="login-body">
					<form action="/login" method="POST">
						<label>Email</label>
						<input type="email" placeholder="email" name="email" class="form-control"/>
						<br/>
						<label>Password</label>
						<input type="password" placeholder="password" name="password" class="form-control"/>
						<br/>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>