<strong class="task-name" ng-model="selectedTask"><i class="icon tasks"></i> Tasks</strong>

<div class="task-content slide" ng-show="selectedTask" ng-click="$event.stopPropagation();">
	<ul href="" class="task-queue">

		<li class="task-queue-item selector s-right" ng-repeat="queueitem in queue" ng-model="collapsed" >
			<span class="queue-title slide" ng-hide="collapsed">
				<span ng-click="collapsed=!collapsed">{{ queueitem.printjob.modelfile.filename }}
					<a ng-click="startPrint(queueitem.id, queueitem.gcode)">/ print</a>
					<a ng-click="removeFromQueue(queueitem.id)">/ delete</a>
				</span>
			</span>
			<span class="queue-inner slide" ng-show="collapsed">
				<span ng-click="collapsed=!collapsed">{{ queueitem.printjob.modelfile.filename }}</span>
				<hr />

				<p>{{ queueitem.printjob.modelfile.filesize / 10000 }} MB / Added On {{ queueitem.createdAt | date }}</p>
				<p>Estimated Print Time: {{ queueitem.duration_estimate }}s</p>

				<hr />

				<p>Channel A: {{ queueitem.slicedata.extruders[0].mode }} / {{ queueitem.slicedata.extruders[0].material }}</p>
				<p>Channel B: {{ queueitem.slicedata.extruders[1].mode }} / {{ queueitem.slicedata.extruders[1].material }}</p>
			</span>
		</li>

	</ul>
</div>