<div ng-controller="PrintjobController">
	<div class="layout">
		<div class="layout__item 1/2">
			<h2>Printjobs</h2>
		</div><!--
		--><div class="layout__item 1/2 align-right">
			<a class="btn" href="/files">Add</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Model</th>
				<th>Est. printtime</th>
				<th>Slicing</th>
				<th>Materials</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="printjob in printjobs">
				<td>{{ printjob.sliceParams.model }}</td>
				<td>2hrs 4mins</td>
				<td>
					<a href="/slicing?active={{ printjob.sliceprofileID }}">{{ printjob.sliceprofile.layers.layerHeight }} micron</a>
				</td>
				<td>
					<span ng-repeat="material in printjob.materials">
						<a href="/materials?active={{ material.material.id }}">{{ material.material.name }} ({{material.mode}})</a>
					</span>
				</td>
				<td><a ng-click="addToQueue(printjob.id)">Add to queue</a></td>
				<td><a ng-click="deletePrintjob(printjob.id)">Remove</a></td>
			</tr>
		</tbody>
	</table>
</div>