<!DOCTYPE html>
<html ng-app="nectarApp">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NectaWare</title>
		
		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/public/assets/stylesheets/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		
		<!-- JAVASCRIPT -->
		<script>
			var root_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
			var api_url = window.location.protocol + '//' + window.location.hostname + ':1337';
			var thingiurlbase = "/public/assets/javascripts";
		</script>
		<script src="http://localhost:1337/socket.io/socket.io.js"></script>
		<script src="/public/assets/javascripts/main.js"></script>
		<script src="/public/assets/javascripts/angular.js"></script>
	</head>
	<body>
		
		<div class="splash" ng-cloak=""></div>
	  
	  	<growl-notifications></growl-notifications>
	  	
		<!-- MAIN CONTENT AND INJECTED VIEWS -->
		<main role="main">

			<!-- angular templating -->
			<!-- this is where content will be injected -->
			
			<div ng-view></div>

		</div>
	  
	</body>
</html>