$brand-color:       #04b99c!default;
$brand-face:        'Open Sans', sans-serif!default;

$lighter-gray: 		#f1f1f1;
$light-gray: 		#dbdada;

$dark-gray: 		#a2a2a2;
$darker-gray: 		#5b5b5b;

$text-black: 		#000;
$text-gray: 		#4e5052;

$light-red: 		#e74c3c;

$upload-color:		#3bbce0;
$slicing-color:		#ffd56f;
$control-color:		#e28a8b;
$printer-color:		#b7d477;
$tasks-color:		#60c8b8;