.btn {
	border-radius: 2px;
	color: white;
}

.btn-upload {
	background-color: $upload-color;
}

.btn-more {
	background-color: #4a565f;
}

.btn-print {
	background-color: #60c8b8;
}

.btn-control {
	background-color: $control-color;
}

.btn-extret {
	@extend .btn-more;
	width: 80px;
}

.input-extret {
	width: 80px !important;
}
