hr {
    padding: 0;
    border: none;
    border-top: 1px dashed $light-gray;
    margin: 16px 0;
    &.or {
        color: inherit;
        text-align: left;
        &:after {
            content: "OR";
            display: inline-block;
            position: relative;
            top: -.90em;
            left: .5em;
            font-size: 1em;
            padding: 2px;
            background: $lighter-gray;
        }
    }
}
