growl-notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}
growl-notification.fading.ng-move{
    opacity: 0;
    -webkit-transition: 1s linear all; /* Safari/Chrome */
    transition: 1s linear all; /* All other modern browsers and IE10+ */
}
growl-notification.fading.ng-move.ng-move-active {
    opacity: 1;
}
growl-notification.fading.ng-leave {
    opacity: 1;
    -webkit-transition: 1s linear all; /* Safari/Chrome */
    transition: 1s linear all; /* All other modern browsers and IE10+ */
}

growl-notification.fading.ng-leave.ng-leave-active {
    opacity: 0;
}