<section class="banner--secondary">
	<nav class="sub-nav layout__item  1/1" role="navigation" aria-label="breadcrumbs">
		<p>
			<a class="sub-nav__item tabs__item--active" href="/materials">
				Materials
		    </a>
		    <a class="sub-nav__item" href="/slicing">
		        Slicing
		    </a>
		    <a class="sub-nav__item" href="/settings">
		        Account
		    </a>
		</p>
	</nav>
</section>

<br/>

<div ng-controller="MaterialController">
	<div class="layout">
		<div class="layout__item 1/2">
			<h2>Materials</h2>
		</div><!--
		--><div class="layout__item 1/2 align-right">
			<a class="btn" ng-click="toggleCreateModal(material.id)">Create</a>
		</div>
	</div>
	<table class="table table--rows table--striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Diameter</th>
				<th>Colors</th>
				<th>Extruder temperature</th>
				<th>Bed temperature</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="material in materials" ng-class="{selected: material.id === activeMaterial.id}">
				<td>{{ material.name }}</td>
				<td>{{ material.type }}</td>
				<td>{{ material.diameter }}</td>
				<td>{{ material.colors }}</td>
				<td>{{ material.extruderTemperature }} c</td>
				<td>{{ material.bedTempereature }} c</td>
				<td>
					<a class="btn" ng-click="toggleUpdateModal(material.id)">
						Update
					</a>
				</td>
				<td>
					<a class="btn btn-alert" ng-click="deleteMaterial(material.id)">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<modal-dialog show='createModal' dialog-title='Create material'>
		<form role="form">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="text-input" ng-model="activeMaterial.name">
			</div>
			<div class="form-group">
				<label>Type</label>
				<input type="text" class="text-input" ng-model="activeMaterial.type">
			</div>
			<div class="form-group">
				<label>Diameter</label>
				<input type="number" class="text-input" ng-model="activeMaterial.diameter">
			</div>
			<div class="form-group">
				<label>Colors</label>
				<input type="text" class="text-input" ng-model="activeMaterial.colors">
			</div>
			<div class="form-group">
				<label>Extruder temperature</label>
				<input type="number" class="text-input" ng-model="activeMaterial.extruderTemperature">
			</div>
			<div class="form-group">
				<label>Bed temperature</label>
				<input type="number" class="text-input" ng-model="activeMaterial.bedTemperature">
			</div>
			<br/>
			<div class="form-group">
				<a class="btn btn-sm btn-primary" ng-click="$parent.createMaterial()">Save</a>
				<a class="btn btn-sm btn-default" ng-click="$parent.toggleCreateModal()">Cancel</a>
			</div>
		</form>
	</modal-dialog>
	
	<modal-dialog show='updateModal' dialog-title='Update material: {{ activeMaterial.name }}'>
		<form role="form">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="text-input" ng-model="activeMaterial.name">
			</div>
			<div class="form-group">
				<label>Type</label>
				<input type="text" class="text-input" ng-model="activeMaterial.type">
			</div>
			<div class="form-group">
				<label>Diameter</label>
				<input type="number" class="text-input" ng-model="activeMaterial.diameter">
			</div>
			<div class="form-group">
				<label>Colors</label>
				<input type="text" class="text-input" ng-model="activeMaterial.colors">
			</div>
			<div class="form-group">
				<label>Extruder temperature</label>
				<input type="number" class="text-input" ng-model="activeMaterial.extruderTemperature">
			</div>
			<div class="form-group">
				<label>Bed temperature</label>
				<input type="number" class="text-input" ng-model="activeMaterial.bedTemperature">
			</div>
			<br/>
			<div class="form-group">
				<a class="btn btn-sm btn-primary" ng-click="$parent.updateMaterial()">Save</a>
				<a class="btn btn-sm btn-default" ng-click="$parent.toggleUpdateModal()">Cancel</a>
			</div>
		</form>
	</modal-dialog>
</div>